.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  flex-shrink: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  box-shadow: 1px 8px 20px rgba(0, 0 ,0, 0.1);
}

.card__image {
  width: 100%;
  background-color: black;
  object-fit: cover;
  position: center;
  height: 151px;
}

.card__container {
  margin: 14px 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card__name {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.card__duration {
  color: #A0A0A0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 0;
  padding: 0;
}

.card__like {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #F9F9F9;
  border: 2px solid white;
  box-shadow: 1px 3px 4px rgba(0, 0 ,0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0s;
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like_active {
  background-color: #2BE080;
}

.card__like_saved {
  background-image: url("../../../images/delete__card.svg");
  width: 16px;
  height: 16px;
  border: none;
  background-position: center;
  background-color: transparent;
  box-shadow: none;
}

@media screen and (max-width: 800px) {
  .card__image {
   height: 190px;
  }
}

@media screen and (max-width: 500px) {
  .card__image {
    height: 168px;
  }
}
